/* Write CSS rules here: */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    position: relative;
    width: 100vw;
}

header h2{
    position: relative;
    bottom: 80px;
    left: 50px;
    color: #FFF;
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.2rem;
    letter-spacing: 3px;
    font-weight: 400;
}

header .header-title{
    width: 400px;
}

#header-image2{
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1.5s;
}

#header-image3{
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1.5s;
}

header img.bg-image{
    width: 100%;
    object-fit: contain;
    object-position: top center;
}

header nav{
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

header nav .logo img{
    width: 120px;
    height: 50%;
}

button.portal{
    background-color: #FF9900;
    border: none;
    outline: none;
    height: 50px;
    width: 157px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.partnership{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.partnership .companies{
    display: flex;
    padding: 4rem 0;
    width: 100vw;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.company{
    padding: 0 5rem;
}

.company img {
    height: 60px;
}

main{
    background-color: #151515;
    color: white;
    padding: 3rem 4rem;
}

.schedule{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.schedule-image-container{
    position: relative;
}

.schedule-image-container h2{
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 25px;
    width: 300px;
    font-size: 2.8rem;
    font-family: 'Alfa Slab One', cursive;
    color: #FF9900;
    font-weight: 400;
    letter-spacing: 1.2px;
    
}

.schedule-info{
    margin-bottom: 2rem;
    min-width: 480px;
}

.schedule-info-container{
    margin-left: 2rem;
    
}

.schedule-info .title{
    font-size: 1.8rem;
    font-family: 'Alfa Slab One', cursive;
    color: #FF9900;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: 1rem;
    
}

.schedule-info .text{
    font-weight: 600;
    line-height: 21px;
    padding-right: 1rem;
    
}

.location{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.location p{
    margin-left: 2rem;
    min-width: 480px;
}

.extra-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    
}

.extra-info h2{
    font-size: 2.8rem;
    font-family: 'Alfa Slab One', cursive;
    color: #FF9900;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: 1rem;
    padding: 0;
    width: 550px;
}

.extra-info p{
    font-weight: 600;
    line-height: 21px;
    padding-right: 2rem;
    min-width: 600px;
    margin-bottom: 1.2rem;
    min-width: 450px;
}

.extra-info span{
    color: #FF9900;
    font-weight: 700;
}

.sponsers{
    position: relative;
}

.sponsers img.sponsers-bg{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sponsers .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsers .content h2.message{
    font-size: 2.2rem;
    color: #FF9900;
    font-family: 'Alfa Slab One', cursive;
    width: 450px;
    margin: 8rem 0;
    line-height: 54px;
    letter-spacing: 3px;
}

.sponsers .content .logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.sponsers .content .logos .logo{
    margin: 1rem 5rem;
}


/* For Screens Bigger than 1850px */
@media screen and (min-width: 1850px) {
    header img.bg-image{
        object-fit: cover;
        height: 770px;
    }

    section .cards .card{
        width: 850px;
    }
}


/* For Screens Smaller than 1200px */
@media screen and (max-width: 1200px) {
    header nav{
        height: 200px;
        padding: 1rem 3rem;
    }

    button.portal{
        height: 45px;
        width: 145px;
        font-size: 1.1rem;
    }

    header .logo img{
        height: 120px;
    }

    .schedule{
        flex-direction: column;
        align-items: flex-start;
    }
    .schedule .schedule-image-container{
        margin-left: 2rem;
        margin-bottom: 1rem;
    }

    .location{
        flex-direction: column;
    }

    .location .schedule-image-container{
        margin-left: 2rem;
        margin-bottom: 1rem;
    }

    .extra-info{
        flex-direction: column;
        margin-left: 2rem;
    }
}  


/* For Screens Smaller than 750px */
@media screen and (max-width: 750px){
    header nav{
        height: 100px;
        padding: 0 1rem;
    }

    header nav .logo img{
        width: 70px;
        height: 60px;
    }

    button.portal{
        height: 35px;
        width: 125px;
        font-size: 0.9rem;
    }

    header .logo img{
        height: 40px;
    }

    .sponsers .content .logos .logo{
        margin: 1rem 1rem;
    }

    .schedule .schedule-image-container img{
        width: 400px;
    }

    .location .schedule-image-container img{
        width: 400px;
    }

    .location p{
        min-width: 300px;
    }

    .extra-info h2{
        width: 350px;
    }

    .extra-info p{
        min-width: 300px;
    }
}


/* For Screens Smaller than 590px */
@media screen and (max-width: 590px){
    header nav{
        height: 50px;
    }

    header nav .logo img{
        width: 50px;
        height: 40px;
    }

    header nav button.portal{
        width: 90px;
        height: 30px;
        font-size: 0.7rem;
    }

    header h2.header-title{
        font-size: 1.4rem;
        width: 250px;
        left: 30px;
        bottom: 50px;
    }

    .partnership{
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 0;
    }

    .partnership h3{
        margin: 1.2rem 0;
    }

    .partnership .companies{
        flex-direction: column;
        padding: 1rem 0;
        margin: 0;
    }

    .company{
        margin-bottom: 3rem;
    }

    main{
        text-align: center;
    }

    .schedule{
        justify-content: center;
        align-items: center;
        text-align: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        
    }

    .schedule .schedule-image-container{
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .schedule .schedule-image-container img{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .schedule .schedule-image-container h2{
        font-size: 1.4rem;
        width: 100px;
        top: 10px;
        left: 10px;
    }

    .location .schedule-image-container img{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .location .schedule-image-container h2{
        font-size: 1.8rem;
        top: 10px;
        left: 20px;
        width: 100px;
    }

    .location p{
        min-width: 100px;
        margin: 0;
    }

    .schedule .schedule-info{
        min-width: 100px;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .schedule .schedule-info .title{
        width: 230px;
        margin-bottom: 1rem;
    }

    .schedule .schedule-info .text{
        margin-bottom: 2rem;
    }
    
    .extra-info h2{
        font-size: 1.9rem;
        margin: 1.5rem 0;
        width: 100%;
    }

    .extra-info p{
        font-size: 1rem;
        margin-bottom: 1rem;
        width: 100%;
    }
    
    .extra-info .cost{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .extra-info .seasons{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

    }
    
    .sponsers .content{
        justify-content: center;
    }

    .sponsers .content h2.message{
        font-size: 1.7rem;
        width: 200px;
        text-align: center;
        margin: 2rem 0;
    }

    .sponsers .content .logos{
        flex-direction: column;
    }

    .sponsers .content .logos .logo{
        margin: 2rem 0;
    }

    h2.footer-message{
        font-size: 2rem;
    }

    footer .contact form input, footer .contact button{
        width: 250px;
        text-align: center;
    }
}

